/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

@media only screen and (min-width: 37.5em) {
    
    #site-logo { 
    width: 100px;
    height: 98px;
    text-align: center;
    }
    
    header h1 {
    font-size: 2.5em;
}
    h1.site-name {
        font-size: 3em;
        text-align: center;
    }
    
    nav{
        background-color: darkblue;
        border-bottom: 5px darkblue;
    }
/* hide hamburger button*/
    nav button { 
        display: none; 
    }  
    
/*horizontal menu bar*/
    nav ul {
        margin-left: 2%;
    }
    
/*override hide class from smaller menu size*/
    nav ul.hide{
        display: block;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        font-size: 1.2em;
        text-align: center;
        padding: .8rem 1rem;
    }
  
/* show the 10-day forecast with the medium view and up*/
    section.forecast {
        display: block;
    }
    table{
        display: inline-block;
        margin: 0 auto;
        border-collapse: collapse;
    }
    
    table th, table td{
        border: 1px solid #ddd;
        padding: .5em;
    }
    
    table th{
        color: #017792;
    }

    section.summary { 
        display: flex; 
        justify-content: space-around;
    }  
    section div{
        flex: 1;
    }

    div p{
        margin: 0;
        padding-bottom: .8em;
    }
    
    #article-content{
        display: flex;
        justify-content: space-around;
    }
    
    article p{
        padding: 0;
        flex: 1;
        margin: 0;
    }
    
    article p img {   
        max-width: 85%;
        margin: 0;
        text-align: right;
    }

/* 2 column grid layout for gallery*/

    .grid{
        display: grid;
        grid-template-columns: 325px 325px;
        grid-column-gap: 15px;
        width: 665px;
        margin: 0 auto;
    }

    #row-one{
        display: flex;
    }
    
    .story-column{
        flex: 1;
        padding: .5em;
    }
    
   #town-boxes{
        display: flex;
    }
    
    .town-column{
        flex: 1;
        margin: 0 .5em;
    }

}