@media only screen and (min-width: 37.5em) {
header, nav { margin: 0 auto; max-width: 600px; }
h1 { text-align: center; }
.hamburger { display: none; }
.navigation { background-color: #333; overflow: hidden; text-align: center; }
.navigation li { display: inline-block; margin-left: .25rem; }
.navigation a { display: block; color: #eee; padding: .5rem; text-align: center; text-decoration: none;}
.navigation a:hover { color: #000; background-color: #777; }
}

#paragragraph-1{
   text-align:left;
   font: solid "3"; 
   text-align: justify
    
    
}
