* { margin: 0; box-sizing: border-box; } 

gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items; center;
    grid-gap: 5px;
    grid-row-gap: 0px;
}

grid-box img{
    width: 100%;
}

