* { margin: 0; box-sizing: border-box; } 



.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 100px;
    grid-auto-flow: 100px;
    grid-column-gap: 20px;
}

.grid div {
    border: 1px solid rgb(0, 95,1070);
    border-radius: 3px;
    background-color: transparent
    padding: 0.2em;
    font-size: 120%;
    
}



