* { margin: 0; box-sizing: border-box; } 

{
    margin: 0;
    background: 0;
    font-family: arial, helvetica, sans-serif;
}


nav {
   list-style-type: none;
    width: 100%;
    overflow: auto;
    background-color: darkblue;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
    background-color: darkblue;
}

li {
    float: left;
}

nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
}
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px ;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: mediumblue;
}

h1, h3 {
    color: darkblue;
}




