* { margin: 0; box-sizing: border-box; } 

body {
    margin: 0;
    background: 0;
    font-family: arial, helvetica, sans-serif;
}

.header {
    width: 1100px;
    height: 350px;
    margin: auto;
}

.nav {
   list-style-type: none;
    width: 1100px;
    overflow: auto;
    background-color: darkblue;
     margin: auto;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
    background: darkblue;
}

li {
    float: left;
}

nav a {
   
    display: block;
    padding: 125px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    background: darkblue;
    color: white;
    
}


/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: mediumblue;

}

.container{
    max-width: 1200px;
    margin: auto;
    background: white;
    overflow: auto;
}

.townimages{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
    
    
}

.townimages img{
    width: 100%;
    height: auto;
    
}

.info{
    padding: 15px;
    text-align: center;
 
    
    
}

h1, h3 {
    color: darkblue;
}




