* { margin: 0; box-sizing: border-box; } 

body {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10;
    text-decoration: none;
}

/* Change the link color to mediumblue on hover */
li a:hover {
    background-color: mediumblue;
}

h1, h2, h3 {
    color: darkblue;
}


.imgContainer{
    float:left;
}
.highlow {
    float: left;
}

.current{
    float: left;

}

