* { margin: 0; box-sizing: border-box; } 

.nav button {display: none:}

.nav ul.hide{display: block;}

.nav ul {margin-left: 2%;}

.nav ul li{
    float:left;
}

nav ul li a {border: none;}
border-right; 1px solid white;
padding: .8rem 1rem;