

form#stormreporting{
    margin: 1em 3%;
}

p progress{
   margin: 1em 3%; 
}
fieldset{
    background-color: #e4dccf;
    border-radius: .8em;
    margin: 1.5em 0;
    border: #917a56 solid 1px;
}

legend{
    color: blue;
    margin-left: 0%;
    padding: .5em;
    border: lightblue solid 1px;
    background-color: lightblue;
    border-radius: .4em;
    width: 200px;
    text-align: center;
  
}

label{
    display: block;
    margin: .5em;
}

label span{
    display: block;
    font-size: .8em;
    color: #917a56;
    padding-top: .9em;
    padding-bottom: .2em;
}

input.submitBtn{
    -webkit-appearance: none;
    color:  blue;
    border: solid 1px #111;
    border-radius: 7px;
    width: 50%;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    background: lightblue;
    box-shadow: 4px 4px 10px #666;
}
label input{
    background-color: aliceblue;
    padding: .5em .5em .5em 2em;
    border: solid 1px #b0aaa0;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    background-image:url(/images/ico_validation.png); 
    background-repeat: no-repeat;
    background-position: 4px -11px;

}
        
input:focus{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;
}

input:required{
    background-position: 4px -61px;
}

input:focus:invalid{
    background-position: 4px -111px;
}
input:required:valid{
    background-color: gainsboro;
    background-position: 4px -161px;
}

