form#stormreporting{
    margin: 1em 3%;
}

fielset{
    background-color: lightblue
    border-radius: .8em;
    margin: 1.5em 0;
    border: solid 1px blue;
}

legend{
    color: black;
    margin-left: 1%;
    padding: .5em;
    border: solid 1px blue;
    background-color: aliceblue;
    border-radius: .4em;
}

label{
    display: block;
    margin: .5em;
}