
    
    
    table, th, td {
    
        font-family: Ubuntu, sans-serif;
        text-align:center;
        padding: 10px;
        width:50%;
        height:50%;
        border: 1px solid black;
        border-collapse: collapse;  
        
     }
    
    caption{
        background-color: #7fb9c2;
        font-size: 1.5em;
        padding: 15px;
    }
    
    th{
        background-color: #628ca6;
        color: white;
        font-size: .9em;    
    }
    
    tbody tr:nth-child(1) {
        background: #e7ffed;
}
    tbody tr:nth-child(2) {
        background: #e7ffed;
}
    tbody tr:nth-child(3) {
        background: #e7ffed;
}
     tr:nth-child(4) td:nth-child(1) {
        background: #e7ffed;
} 
     tr:nth-child(4) td:nth-child(2) {
        background: #e7ffed;
} 
    tr:nth-child(4) td:nth-child(3) {
        background: #628ca6;
}
    tbody tr:nth-child(5) {
        background: #e7ffed;
}
    tbody tr:nth-child(6) {
        background: #e7ffed;
}
    
   tfoot{
        width: 25%;
        text-align: center;
        background-color: #7fb9c2;
        font-size: .75em;  
       }
    

    