@media only screen and (min-width: 64em) {
  
    #site-logo { 
    width: 120px;
    height: 117px;
    }
    
   
    
    main figure.responsive { 
        width: 100%; 
    }
    
    header h1{
        font-size: 3em;
        
    }
    
    p img{
        text-align: center;
    }
    
    .grid{
    grid-template-columns: 300px 300px 300px;
	width: 930px;
    }
    
        #row-one{
        display: flex;
            margin:50px;
    }
    .story-column{
        flex: 1;
        padding: .5em;
        margin:50px;
    }
    
   #row-two{
        display: flex;
    }
    .town-column{
        flex: 1;
        margin: 0 .5em;
    }
  
}

